body{
    background: #000;
}
.grid{
    width: 80%;
    margin: 50px;
    display: grid;
    row-gap: 20px;
    height: 520px;
}
.firstrow{
    height: 250px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
}
.redbox{
    background-color: orangered;
    height: inherit;
    grid-column-start: 1;
    grid-column-end: 3;
}
.orangebox{
    height: inherit;
    background-color: orange;
    grid-column-start: 3;
    grid-column-end: 4;
}
.secondrow{
    height: 250px;
    width: 100%;
    display: grid;
    column-gap: 10px;
    grid-template-columns: auto auto;

}
.greenbox{
    height: inherit;
    background-color: green;
    grid-column-start: 1;
    grid-column-end: 2;
}
.bluecolumn{
    height: inherit;
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    row-gap: 20px;
}
.bluebox1{
    background-color: blue;
    width: 100%;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 115px;
}
.bluebox2{
    background-color: blue;
    width: 100%;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 115px;
}